extends base

block content
  .container
    h2 Trail Status Sources
    p All trail statuses except for the US National Whitewater Center are sourced from the 
      a(href='http://www.tarheeltrailblazers.com/') Tarheel TrailBlazers website.
    p US National Whitewater Center trails are sourced from 
      a(href='https://twitter.com/usnwctrails') their twitter feed
      |.
    h2 Source Code
    p The code that powers this site is open source and is available at 
      a(href='https://github.com/JasonSanford/clt-trails') https://github.com/JasonSanford/clt-trails
      |.
