doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title CLT Trails
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='#') Home
            li(role='presentation')
              a(href='#') About
        h3.text-muted CLT Trails
      - if (messages.success)
        .alert.alert-success
          span= messages.success
      block content
      footer.footer
        p
          |&copy; CLT Trails, built by 
          a(href='https://github.com/JasonSanford/') Jason Sanford
    script(src='js/main.js')