doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Charlotte Mountain Bike Trail Statuses

    - if (map)
      link(rel='stylesheet', type='text/css', href='//api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css')

    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    script.
      var mtb = {};
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation', class=(currentPage === 'home' ? 'active' : ''))
              a(href='/') Home
            li(role='presentation', class=(currentPage === 'about' ? 'active' : ''))
              a(href='/about') About
        h3.text-muted
          a(href='/') CLT Trails
      - if (messages.success)
        .alert.alert-success
          span= messages.success
    block content
    .container
      footer.footer
        p CLT Trails, built by 
          a(href='https://github.com/JasonSanford/') Jason Sanford
          |. Trail statuses from 
          a(href='/about') various sources
          |.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    - if (map)
      script(src='//api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js')
    script(src='/js/main.js')
