extends base

block content
  .full-panel
    .container
      .jumbotron
        h1 Get Text Alerts
        h2 for charlotte area trails
        p
          | Be the first to know when trails open or close. We constantly monitor trail status updates and text you as soon as your favorite trail opens or closes.
        .input-group.input-group-lg.phone-input
          input.input-phone.form-control(type='text', placeholder='704-555-5555')
          span.input-group-btn
            a.btn.btn-success.link-phone(href='#')
              | Get Started!
        p.details
          em= 'Choose the trails you want to receive messages for on the next screen.'

  .container
    hr

    h2 Current Trail Statuses
    table.table.table-striped.statuses
      tbody
        each trail in trails
          tr.trail
            td.name
              h3
                - glyphicon = trail.status === 'open' ? 'glyphicon-ok' : 'glyphicon-remove'
                i.glyphicon(class='#{glyphicon} #{trail.status}')
                | 
                =trail.name
            td.date.text-muted
              span(title='#{trail.status_date}')
                =trail.statusDateFromNow()
