body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.header h3 {
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  color: #777;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  padding: 30px;
}

.jumbotron h1 {
  font-size: 55px;
}

.jumbotron h2 {
  margin-top: 0;
}

.jumbotron .phone-input {
  width: 50%;
  margin: 0 auto;
}

.jumbotron p.details {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container > h2 {
    text-align: center;
  }

  .jumbotron h1 {
    font-size: 36px;
  }

  .jumbotron h2 {
    font-size: 25px;
  }

  .jumbotron .phone-input {
    width: 100%;
  }

  .jumbotron .input-phone {
    padding: 10px;
    text-align: center;
  }
}

tr.trail {
  margin-bottom: 10px;
}

tr.trail td {
  vertical-align: middle !important;
  border: none !important;
  padding: 20px !important;
}

tr.trail td.date {
  text-align: right;
}

tr.trail td.date span.open {
  color: #060;
}

tr.trail td.date span.closed {
  color: #900;
}

tr.trail h3 {
  display: inline;
}

tr.trail i.open {
  color: #060;
}

tr.trail i.closed {
  color: #900;
}
