body {
  padding-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  background: url("img/pw_pattern.png") #e0e0e0;
}
body.fullscreen {
  padding-bottom: 0;
}
.top {
  background-color: #5cb85c;
}
.top .header {
  padding: 20px 0;
  color: #fff;
}
.top .header ul.nav li.active a {
  background-color: #fff;
  color: #5cb85c;
}
.top .header a {
  color: #fff;
}
.top .header h3 {
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.alert {
  margin: 10px 0;
}
.footer {
  color: #777;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}
.full-panel {
  padding: 20px;
  background-image: url("../img/bike-bw.jpg");
  background-position: center;
  background-size: cover;
}
.jumbotron {
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 0;
}
.jumbotron h1 {
  font-size: 55px;
}
.jumbotron h2 {
  margin-top: 0;
}
.jumbotron .phone-input {
  width: 50%;
  margin: 0 auto;
}
.jumbotron p {
  color: #555;
}
.jumbotron p.details {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
table.statuses tr.trail {
  margin-bottom: 10px;
}
table.statuses tr.trail td {
  vertical-align: middle !important;
  border: none !important;
  padding: 20px !important;
}
table.statuses tr.trail td.date {
  text-align: right;
}
table.statuses tr.trail td h3 {
  display: inline;
}
table.statuses tr.trail td h3 a {
  color: #333;
}
table.statuses tr.trail td i.open {
  color: #060;
}
table.statuses tr.trail td i.closed {
  color: #900;
}
.map-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}
.map-container .meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  background-color: rgba(255,255,255,0.7);
}
.map-container .meta h2 {
  margin-top: 10px;
  text-align: center;
}
.map-container .map {
  height: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    padding: 10px 0;
  }
  .header h3 {
    font-size: 20px;
  }
  .map-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .map-container .meta h2 {
    margin: 5px 0;
    line-height: 0.8em;
    text-align: center;
  }
  .map-container .meta h2 small {
    display: block;
  }
  .full-panel .container {
    padding: 0;
  }
  .container > h2 {
    text-align: center;
    font-size: 23px;
  }
  table.statuses tr.trail h3 {
    font-size: 16px;
  }
  table.statuses tr.trail td {
    padding: 10px !important;
  }
  table.statuses tr.trail td.name {
    padding-right: 0 !important;
  }
  table.statuses tr.trail td.date {
    padding-left: 0 !important;
  }
  .jumbotron {
    padding: 20px;
  }
  .jumbotron h1 {
    font-size: 34px;
  }
  .jumbotron h2 {
    font-size: 22px;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .jumbotron .phone-input {
    width: 100%;
  }
  .jumbotron .input-phone {
    padding: 10px;
    text-align: center;
  }
}
body.index .map {
  height: 400px;
}
.map .leaflet-popup h1,
.map .leaflet-popup h2,
.map .leaflet-popup h3,
.map .leaflet-popup h4,
.map .leaflet-popup h5 {
  text-align: center;
}
.map .leaflet-popup h2,
body.index .map .leaflet-popup h3 {
  margin-bottom: 0;
}
body.index .map .leaflet-popup h2 a {
  color: #5cb85c;
}
